{% extends "base.html" %}


{% block titile %}

  <title>Edit Task -taskmate</title>
  
{% endblock titile %}
{% block content %}
   <div class="container">

    
<br>

      {% if task_obj.manager == request.user %}

          <form method="POST" class="row">
              {% csrf_token %}
              <div class="col-lg-2">
              
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" name="task" placeholder=" {{task_obj.task}}" value="{{task_obj.task}}">
              </div>
              <div class="col-lg-2">
                <button type="submit" class="btn btn-primary btn-block">Update Task</button>
              </div>
          </form> 

      {% else%}
          
          <p>Access Restricted,You are not allowed!</p>
      {% endif %}
   </div>
{% endblock content %}